label {
  font-family: 'Courier New', Courier, monospace;
  color: gr#161616;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid lightgrey;
  padding: 0.375rem 0.5rem;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: forestgreen;
  border-style: dashed;
}

.error {
  border-color: crimson;
}
